<html>
<head>
  <title>ANSIBLE AUTOMATION PLATFORM </title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<button onclick="animateFunction()">Connect to DB</button>
<div style="display:none;" id="myDiv" class="animate-bottom">
<span>
<table>
<?php
     $dbhost = 'localhost:3306';
     $dbuser = 'lampuser';
     $dbpass = 'changeme';
     $conn = mysqli_connect($dbhost, $dbuser, $dbpass);

     if ($conn->connect_error) {
        die("Connection failed: " . $link->connect_error);
     }

     $sql = "SHOW DATABASES;";
     $result = $conn->query($sql);
     echo "<table>";
     echo "<tr><th><h2> Welcome to LAMP Demo : The list of databases is :</h2></th></tr>";

     while($row = $result->fetch_assoc()) {
     echo "<tr><th>" . $row["Database"]. "</th></tr>";
     }

     echo "</table>";
     mysqli_close($conn);
?>
</span>
</div>

<script>
function animateFunction() {
  document.getElementById("myDiv").style.display = "block";
}
</script>
</body>
</html>
